<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.attender" >


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.attender.rita.attender.loginPageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.attender.rita.attender.Event_Page_Activity"
            android:label="@string/title_activity_event__page_" >
        </activity>
        <activity
            android:name="com.attender.rita.attender.CalendarPageActivity"
            android:label="@string/title_activity_calendar_page" >
        </activity>
        <activity
            android:name="com.attender.rita.attender.searchEventActivity"
            android:label="@string/title_activity_search_event" >
        </activity>
        <activity
            android:name="com.attender.rita.attender.ChatPageActivity"
            android:label="@string/title_activity_chat_page" >
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>
